<div class='recipeList'>
  <div class='recipes__title' fxLayoutAlign='center center'>
    <h2>Your recipes</h2>
  </div>
  <div class='recipe-list' fxLayout="row wrap">
    <div *ngFor='let recipe of recipes'>
      <mat-card class="recipe-card" (click)='goToRecipe(recipe.id)'>
        <mat-card-header>
          <mat-card-title>{{recipe.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/plateImage.png">
        <mat-card-actions>
          <button mat-button>Edit</button>
          <button mat-button (click)='removeRecipe(recipe.id)'>Remove</button>
        </mat-card-actions>
      </mat-card>
      <app-float-button [data]='data'></app-float-button>
    </div>
  </div>
</div>