.form-card {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 150px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form>* {
  width: 100%;
}

.container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}