@import "src/assets/styles/variables";
.recipe-list {
  max-width: 900px;
  margin: 0 auto;
  .recipe-card {
    height: 80%;
    width: 150px;
    margin: 20px;
  }
}

@media screen and (min-width: 1000px) {
    .recipe-list {
        min-width: $form-max-width;
    } 
}

@media screen and (max-width: 1000px) {
    .recipe-list {
        min-width: 330px;
    } 
}