.recipe-card-container {
    width: 100%;
}

.sticky-button {
  width: 100%;
  position: fixed;
  bottom: 15px;
  right: 0;
}

@media (min-width: 600px) {
    .button-container {
        width: calc(100vw - 200px);
    }
}