<div class="weekprep-list" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayoutAlign="center center">
        <h2>Week Prep</h2>
    </div>

    <div class="recipe-card-container" *ngFor="let recipe of weekPrep" fxLayout="column">
        <mp-recipe-card [recipe]="recipe" (added)="addToMealPlan($event, recipe)"></mp-recipe-card>
    </div>
</div>
<div class="sticky-button" fxLayout="row" fxLayoutAlign="center center" mpRelativeCenter>
    <button color="accent" mat-raised-button (click)="generateShoppingList()">Generate shopping
        list</button>
</div>