<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" role='navigation' fixedInViewport="true" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <!-- <mat-sidenav #sidenav class='sidenav' role='nagvigation'> -->
    <h3 class='title'>
      Menu
    </h3>
    <app-nav-sidenav (closeSidenav)='sidenav.close()'></app-nav-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav-toolbar (sidenavToggle)='sidenav.toggle()'></app-nav-toolbar>
    <main>
      <h2>
        {{user$ | async | json}}
      </h2>
    </main>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>