@import "~assets/styles/variables";

.user-card-container {
    margin-top: $content-margin-top;
}

.user-card {
    width: 100%;
    margin-top: 3px;
}

mat-card {
    max-width: $form-max-width;
    width: calc(100% - 60px);
    padding: 10px 20px;
    .user-name {
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .user-card {
        min-width: $form-max-width;
    } 
}

@media screen and (max-width: 1000px) {
    .user-card {
        min-width: 330px;
    } 
}