@import "src/assets/styles/variables";
  .item-container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: inherit;
  }
