@import "src/styles";

mp-ingredient-card {
    width: 100%;
}

.swipe-ingredient {
    position: relative;
    background: #388e3c;
    margin-bottom: 5px;
    border-radius: 4px;
    mat-icon {
        width: 70px;
        height: 100%;
        color: white;
        position: absolute;

    }
}