@import "src/assets/styles/variables";

mat-card {
    @include card-full-width;
    mat-card-content {
        // overflow: hidden;
        // max-height: 100px;
        .bottom-fade {
            position: absolute;
            top: 103px;
            background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
            width: 100%;
            height: 50px;
        }
    }
}