@import "src/assets/styles/variables";
.recipe-card {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    mat-card {
        img {
            pointer-events: none;
        }
        width: 100%;
        .mat-card-image {
            margin: 0;
            height: 150px;
            width: 200px;
        }
    }
  }