<div fxLayout="row" fxLayoutAlign="center center">
    <h3>{{pageTitle}}
    </h3>
</div>
<form [formGroup]="ingredientForm" (ngSubmit)="onSubmit(ingredientForm.value)">
    <div class="form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="ingredientForm.get('name').errors?.required">Name is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="number" matInput placeholder="quantity" formControlName="quantity" required>
            <mat-error *ngIf="ingredientForm.get('quantity').errors?.required">Quantity is required.
            </mat-error>
            <mat-error *ngIf="ingredientForm.get('quantity').errors?.notInteger">Quantity must be a number.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="measurement" formControlName="measurement" required>
            <mat-error *ngIf="ingredientForm.get('measurement').errors?.required">Measurement is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Expiration date" formControlName="expiration">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input type="number" matInput placeholder="price" formControlName="price">
            <mat-error *ngIf="ingredientForm.get('price').errors?.notInteger">Price must be a number.
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-raised-button color="primary" type="submit" [disabled]="ingredientForm.invalid"
            color="primary">Submit</button>
        <button mat-raised-button color="primary" type="button" color="warn" *ngIf="source === 'edit'"
            (click)="delete()">Delete</button>
    </div>
</form>