<div class="form-card">
    <div *ngIf='recipe'>
        <mat-card-content class="form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div class="mat-form-field-container-test" fxLayoutAlign="start center">
                <div class='mat-form-field'>
                    <h3>{{recipe?.title}}</h3>
                </div>
            </div>
            <div class='mat-form-field-container-test' fxLayoutAlign="start center" fxLayoutGap="10px">
                <h3>Ingredients</h3>
            </div>

            <div class='mat-form-field-container-test' fxLayout="column" fxLayoutAlign="start">
                <div *ngFor='let elem of recipe.ingredients'>
                    <div fxLayoutGap="10px" fxLayout="row">
                        <div class="ingred">
                            <span>{{elem?.name}}</span>
                        </div>
                        <div class="quant">
                            <span>{{elem?.quantity}}</span>
                        </div>
                        <div class="type">
                            <span>{{elem?.measurement}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class='mat-form-field-container-test' fxLayoutAlign="start center">
                <h3>Instructions</h3>
            </div>
            <div class='mat-form-field-container-test' fxLayoutAlign="start center">
                <div class='mat-form-field'>
                    <span>{{recipe?.instructions}}</span>
                </div>
            </div>
            <div class='mat-form-field-container-test' fxLayoutAlign="start center">
                <div class='mat-form-field'>
                    <a href='{{link}}' target="_blank">{{link}}</a>
                </div>
            </div>

            <button mat-raised-button color="primary" type="button" color="accent"
                [routerLink]="['/recipes', recipe.id, 'edit']">Edit</button>
        </mat-card-content>
    </div>
</div>