mat-card {
    mat-card-content {
        font-size: 16px;
    }
    .ingredients {
        margin: 15px;
        max-width: 300px;
    }
    margin-top: 20px;
    .instructions {
        margin: 15px;
    }
}