<div class="recipe__title" fxLayoutAlign="center center">
  <h3>
    <span>Create Recipe</span>
  </h3>
</div>
<div class="form-card">
  <form [formGroup]='recipeForm' (ngSubmit)='onSubmit(recipeForm.value)'>
    <mat-card-content class="form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="mat-form-field-container" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Recipe title" formControlName='title'>
        </mat-form-field>
      </div>
      <div class='mat-form-field-container' fxLayoutAlign="start center" fxLayoutGap="10px">
        <h3>Ingredients</h3>
        <mat-icon (click)="addIngredient()">add_circle_outline</mat-icon>
      </div>

      <div formArrayName='ingredients' class='mat-form-field-container' fxLayout="column" fxLayoutAlign="start center">
        <div *ngFor='let ingredient of recipeForm.controls.ingredients.controls; let i=index'>
          <div [formGroupName]='i' fxLayoutGap="10px">
            <mat-form-field class="form-input-ingred">
              <input matInput placeholder="Ingredient" formControlName='name'>
            </mat-form-field>
            <mat-form-field class="form-input-quant">
              <input matInput placeholder="Nr" formControlName='quantity'>
            </mat-form-field>
            <mat-form-field class="form-input-type">
              <mat-select formControlName='measurement' placeholder="Type">
                <mat-option *ngFor='let quantType of quantityTypeArray' [value]='quantType'>{{quantType}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-icon *ngIf='i > 0' (click)="deleteIngredient(i)">remove_circle_outline</mat-icon>
          </div>
        </div>
      </div>
      
      <div class='mat-form-field-container' fxLayoutAlign="start center">
        <h3>Instructions</h3>
      </div>
      <div class='mat-form-field-container' fxLayoutAlign="start center">
        <mat-form-field>
          <textarea matInput placeholder="How to prepare" formControlName='instructions' cdkTextareaAutosize></textarea>
        </mat-form-field>
      </div>
      <div class='mat-form-field-container' fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Link" formControlName='link'>
        </mat-form-field>
      </div>

      <mat-card-actions fxLayoutGap="10px">
        <button mat-raised-button color="primary" type="submit" [disabled]="recipeForm.invalid"
          color="primary">Submit</button>
        <button mat-raised-button color="warn" [routerLink]='["../"]'>Cancel</button>
      </mat-card-actions>
      <mat-error class="error" *ngIf='requiredTitle'>Recipe name is required</mat-error>

    </mat-card-content>
  </form>
</div>