<mat-nav-list>
  <a mat-list-item routerLink="/" (click)='onClose()'>
    <mat-icon>account_box</mat-icon>
    <span class='nav-caption'>Household</span>
  </a>
  <a mat-list-item routerLink="/recipes" (click)='onClose()'>
    <mat-icon>list</mat-icon>
    <span class='nav-caption'>RecipeList</span>
  </a>
  <a mat-list-item routerLink="/shoppinglist" (click)='onClose()'>
    <mat-icon>shopping_basket</mat-icon>
    <span class='nav-caption'>ShoppingList</span>
  </a>
  <a mat-list-item routerLink="/pantry" (click)='onClose()'>
    <mat-icon>all_inbox</mat-icon>
    <span class='nav-caption'>Pantry</span>
  </a>
  <a mat-list-item routerLink="/weekprep" (click)='onClose()'>
    <mat-icon>calendar_today</mat-icon>
    <span class='nav-caption'>WeekPrep</span>
  </a>
  <a mat-list-item (click)='onClose(); logout()'>
    <mat-icon>power_settings_new</mat-icon>
    <span class='nav-caption'>Logout</span>
  </a>
</mat-nav-list>