<mat-sidenav-container class="sidenav-container">
  <mat-sidenav color='primary' #sidenav class="sidenav" role='navigation' fixedInViewport="true"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color='primary'>
      <span>Menu</span>
    </mat-toolbar>
    <app-nav-sidenav (closeSidenav)='sidenav.close()'></app-nav-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav-toolbar (sidenavToggle)='sidenav.toggle()'></app-nav-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>