<mp-filter-textbox (searchFilter)='getSearch($event)'></mp-filter-textbox>
<div class="ingredient-card-container">
    <div class='ingredient-card' fxLayout="column" fxLayoutAlign="center center"
        *ngFor='let ingredient of pantry | filter: searchText'>
        <mat-card>
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayoutGap="10px" fxLayout="row">
                        <div class="ingred">
                            <span>{{ingredient.name}}</span>
                        </div>
                        <div class="quant">
                            <span>{{ingredient.quantity}}</span>
                        </div>
                        <div class="type">
                            <span>{{ingredient.type}}</span>
                        </div>
                    </div>
                    <div>
                        <button mat-raised-button color='primary' (click)='editIngredient(ingredient)'>Edit</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<mp-float-button [data]='data'></mp-float-button>