@import "src/assets/styles/variables";

.ingredient-card-container {
    margin-top: $content-margin-top;
}

.ingredient-card {
    width: 100%;
    margin-top: 3px;
}

mat-card {
    max-width: $form-max-width;
    width: calc(100% - 60px);
    padding: 10px 20px;
    .ingred {
      min-width: 30px;
    }
    .quant {
      min-width: 30px;
    }
    .type {
      min-width: 30px;
    }
    font-size: 16px;
}

@media screen and (min-width: 1000px) {
    .ingredient-card {
        min-width: $form-max-width;
    } 
}

@media screen and (max-width: 1000px) {
    .ingredient-card {
        min-width: 330px;
    } 
}